<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form Submit - Example Showing the form</title>
</head>
<body>
<!-- This shows the form from the given Java object -->
<p>
    Showing the form.
</p>
<br>
<!-- th:object=${formTemplate} needs to match that of
        model.addAttribute("formTemplate", new FormTemplate());
     in FormSubmitController.java -> showForm(..)
-->
<form action="#" th:action="@{/form_submit_submit}" th:object="${formTemplate}" method="post">
    <!-- match with member variable name FormTemplate.java -->
    <p>Name: <input type="text" th:field="*{formName}" /></p>
    <p>Id: <input type="number" th:field="*{formId}" /></p>
    <p>YesNo: <input type="checkbox" th:field="*{formYesNo}"/></p>
    <p>Importance:
        <select th:field="*{formImportance}">
            <option th:each="value : ${T(org.hanmin.controller.form.FormTemplate.FormImportance).values()}"
                    th:value="${value}"
                    th:text="${value}">
            </option>
        </select>
    </p>
    <p>Date: <input type="date" th:field="*{formDate}"/></p>
    <p>DateTime: <input type="datetime-local" th:field="*{formDateTime}"/></p>
    <p></p>
    <br>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>